---
permalink: /activities/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

    {% include header.html %}



    {% capture filtered_titles_array %}{% for item in site.sessions %}{% assign category = item.path | split: "/" %}{% assign cat = category[1] %}{{cat}};{% endfor %}{% endcapture %}
    {% assign uniqList = filtered_titles_array| split: ';'  %}
    {% assign uniqList = uniqList | uniq %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div id="sidebar">
                    <ul id="nav-items" class="nav nav-stacked">
                        <li>
                            <h3 class="highlight"> <a href="">BSADD Sessions</a> <i
                                    class="glyphicon glyphicon-dashboard pull-right"></i></h3>
                        </li>

                        {% for category in site.data.activitiesByCategory %}
                        <li><a href="#{{ category.category }}">{{ category.side_bar_name }}</a></li>
                        {% endfor %}
                        <li><a href="#prev_activities">Previous Activities </a></li>

                    </ul>
                </div>
            </div>


            <div class="col-sm-9 panel content-panel">


                <p class="alert  text-center h3" style="background-color: rgb(44, 62, 80) ;color:white">Here are some of
                    the sessions conducted by BSADD </p>

                {% for category in site.data.activitiesByCategory %}

                {% for file in site.activities %}
                {% if file.path contains category.sessionFolderPath  and  file.path contains  'overview' %}
                <a href="{{ site.baseurl }}{{ file.url  }}">
                    <div id="{{   category.category  }}" class="alert alert-info h3"><span
                            style="color: tomato;">{{   category.category  }} </span> <br>

                        <div
                            style="border-radius: 10px; border-style: solid; border-color: #000; padding: 20px; margin: 20px; font-size: 16px; color: #000;">
                            {{ file.desc }}
                        </div>

                        {% endif %}
                        {% endfor %}
                    </div>
                </a>
                {% endfor %}


                <div id="prev_activities" class="alert alert-info h3"><span style="color: tomato;">Previous
                        Activities </span>
                </div>
                <div style="display: flex; justify-content: center;">
                    <table id="activities-table" class="table table-hover" style="border-style: solid; width: 90%;">
                        {% assign reverse_posts = site.data.activitiesSummary | reverse %}

                        {% for activity in reverse_posts %}
                        <tr>
                            <td><b>{{ activity.date }}</b></td>
                            <td>
                                <b>{{ activity.title }}</b>
                                <ul>
                                    {% for item in activity.sublist %}
                                    <li>{{ item }}</li>
                                    {% endfor  %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}



                    </table>
                </div>

            </div>


        </div>
    </div>
    {% include js_link.html %}

</body>
<!-- script references -->

</html>