---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

    {% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div id="sidebar">
                    <ul id="nav-items" class="nav nav-stacked">
                        <li>
                            <h3 class="highlight"> <a href="">BSADD Blog</a> <i
                                    class="glyphicon glyphicon-dashboard pull-right"></i></h3>
                        </li>

                        {% for item in site.data.gallery %}
                        {% assign url = session.imgFolder | split: "/" %}
                        {% assign url = url[2] %}
                        <li><a href="#{{ url }}">{{ item.title }}</a></li>
                        {% endfor %}

                    </ul>
                </div>
            </div>



            <div class="col-sm-9 panel content-panel">


                {% for session in site.data.gallery %}

                {% assign url = session.imgFolder | split: "/" %}
                {% assign url = url[2] %}
                <div id={{url}}>

                    <h2>{{ session.title }}</h2>
                    <hr />
                    <div id={{url}} class="photo-album">
                        {% for image in site.static_files %}
                            {% if image.path contains session.imgFolder %}

                            {% for item in session.imgFolder  %}
                            {% assign picName = image.path | split: "/" | last %}

                            <a href="{{site.baseurl}}{{ session.imgFolder }}/{{ picName }}">
                                {% if session.thumbFolder != "" %}
                                <img src="{{site.baseurl}}{{ session.thumbFolder }}/{{ picName }}" />
                                {% else %}
                                <img src="{{site.baseurl}}{{ session.imgFolder }}/{{ picName }}" style="width: 11vw" />
                                {% endif %}
                            </a>
                            {% endfor %}
                            

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                


            </div>


        </div>
    </div>
    {% include js_link.html %}

</body>
<!-- script references -->

</html>