---
layout: default

sideBar_highlight: "BSADD"

sidebar: 
    - urlName: "Objectives"
      url : "objectives"
      heading: "Objectives"

    - urlName: "Our Motivation"
      url: "motivation"
      heading: "Our Motivation"

    - urlName: "Speeches"
      url: "speeches"
      heading: "Speeches"

    - urlName: "Activities"
      url: "activities"
      heading: "Activities"

    - urlName: "Members"
      url: "members"
      heading: "Members"


---
<div class="col-sm-9 panel content-panel">

    <a name={{ page.sidebar[0].url }}> </a> <!-- link for sidebar -->
    <div class="panel content-panel">
        <h2>{{ page.sidebar[0].heading }} </h2>
        <hr />
        <a href="{{ site.baseurl }}gallery.html#lg=sddc1&slide=1"><img class="image-responsive pull-right"
                src="{{ site.baseurl }}thumb/motivation.jpg" /></a>
        <ul>
            <li>Creating a competitive and collaborative environment for systems design, analysis & development
                practice.</li>
            <li>Practical Software Design Challenges & regular contests - thus forming some strong teams for
                both inter-university software development competitions.</li>
            <li>Launching and contributing to open-source projects.</li>
            <li>Research on application architecture, frameworks, security etc. </li>
            <li>Getting introduced to industry-standard coding -
                <ul>
                    <li>Good coding practices</li>
                    <li>Collaboration </li>
                    <li>Versioning</li>
                    <li>Refactoring</li>
                    <li>Design patterns & their implementations</li>
                    <li>Software security</li>
                    <li>Deployment of application and testing</li>
                    <li>Object Oriented Programming</li>
                    <li>Green coding</li>
                    <li>Application architectures</li>
                    <li>Software as a service etc.</li>
                </ul>
            </li>
        </ul>
    </div>






    <a name={{ page.sidebar[1].url }}> </a> <!--  link for sidebar -->
    <div class="panel content-panel text-justify">
        <h2>{{ page.sidebar[1].heading }} <a href="{{ site.baseurl }}gallery.html#lg=sddc1&slide=2"><img
                    class="image-responsive pull-right" src="{{ site.baseurl }}thumb/bsadd.jpg" /> </a></h2>
        <hr />
        <p>BUET has an outstanding image on Programming Contest in local and global platforms for years. For
            competitive programming contest, we have teams who get extensive training and motivation from some
            of our amazing ex-contestants and they participate in various local and global contests regularly.
            But the picture was somewhat different for software analysis/development. A couple of years back we
            had no organized way of getting trained in software development. We got some success stories in
            different development contests, but those were mostly result of personal efforts. There was very
            limited scope of sharing the knowledge we had for not having a organized effort or a community. To
            diminish this lacking of an organized effort and proper direction, BSADD was born.</p>
        <p>The main goal of BSADD is creating a platform, where we can learn and share the knowledge about the
            best practices in software development. It serves as a community where the software enthusiasts
            participate and share their expertise to bridge the gap between our students and the industry. BSADD
            arranges training sessions, contests, design challenges in online and offline platform focusing on
            software design, research in regular basis. It also guides the students who participate in local and
            international contests. Our motto is growing the culture of software design and development among
            the students.</p>
        <p>From its inception BSADD has been arranging various training sessions, contests, design challenges
            from time to time. On a regular basis we invite professionals from the industry, so that we can
            always be up to date with the state-of-art methods. By creating a helpful learning environment,
            BSADD paves the way for a skilled software development community.</p>
        <hr />
        <p> A bangla version of our motivation will be found here - <a href="{{ site.baseurl }}about">BSADD History Page</a> </p>

    </div>









    <a name={{ page.sidebar[2].url }}> </a> <!--  link for sidebar -->
    <div class="panel content-panel" style="text-justify: inter-word;">

        <div class="text-justify">
            <h2> Dr. Abu Sayed Md. Latiful Hoque
                <img class="userphoto image-responsive pull-right" src="{{ site.baseurl }}thumb/poster_tb.jpg" />
            </h2>
            <h4><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=asmlatifulhoque"> Professor, Department
                    of CSE, BUET </a> </h4>
            <p></p>
            <br />
            <br />
            <br />
            <hr />
        </div>

        <div class="text-justify">
            <h2>Nashid Shahriar
                <img class="userphoto image-responsive pull-right" src="{{ site.baseurl }}thumb/faculty_nshahriar.jpg" width=128
                    height=128 />
            </h2>
            <h4><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=nshahriar"> Assistant Professor,
                    Department of CSE, BUET </a></h4>
            <!-- <h4><a href="http://rboutaba.cs.uwaterloo.ca/team.html">Research and Teaching Assistant, University of Waterloo </a> </h4> -->
            <p></p>
            <br />
            <br />
            <br />
            <hr />
        </div>


        <div class="text-justify">
            <h2>Sajjadur Rahman
                <img class="userphoto image-responsive pull-right" src="{{ site.baseurl }}thumb/faculty_sunnysajjad.jpg" width=128
                    heigh=128 />
            </h2>
            <h4><a href="http://teacher.buet.ac.bd/sunnysajjad/"> Lecturer, Department of CSE, BUET </a></h4>

            <p>Hi everyone, I hope all of you are doing pretty well. When I was asked to say something about
                BSADD, the first thing that sprang in my mind is that, BSADD is the first of it's kind in
                Bangladesh in terms of student community that focuses on promoting Software Design and
                Development practices among students. </p>

            <p>The great thing about BSADD is that it's a well drilled organization run solely by the students.
                From managing weekly tutorial sessions to encouraging the use of cutting edge tools and
                organizing Software Design and Development Contests at national levels. You name it, BSADD has
                always been at the forefront of everything and students have always been at the heart of it. And
                that too from a sense of a dedication to our Department, giving something back.</p>

            <p>I have been fortunate enough to see all these great things I have told about BSADD from the very
                beginning. The aim of BSADD has always been to bridge the gap between industry and academia and
                give the students a sense of the practical scenario. It will be really unfair, if I do not
                acknowledge the contribution of the CSE'07 batch who established BSADD and made it all possible.
                From then 2008 batch took over the battle and took BSADD forward. I hope that 2009 batch is also
                doing a great job.</p>

            <p>So that's all I had to say about BSADD. I wish you all the best and I hope that BSADD will always
                remain as a success story and continue to thrive.</p>
            <br />
        </div>
    </div>










    <a name={{ page.sidebar[3].url }}> </a> <!--  link for sidebar -->
    <div class="panel content-panel table-responsive">
        <h2> {{ page.sidebar[3].heading }} </h2>
        <a href="{{ site.baseurl }}gallery.html#lg=session4&slide=3"><img class="image-responsive pull-right" src="{{ site.baseurl }}thumb/class_tb.jpg" />
        </a>
        <table id="activities-table" class="table table-hover">
            {% for activity in site.data.activitiesSummary %}
                <tr>
                    <td><b>{{ activity.date }}</b></td>
                    <td>
                        <b>{{ activity.title }}</b>
                        <ul>
                            {% for item in activity.sublist %}
                            <li>{{ item }}</li>
                            {% endfor  %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            
            

        </table>
    </div>









    <a name={{ page.sidebar[4].url }}> </a> <!--  link for sidebar -->
    <div class="panel content-panel">
        <h2>{{ page.sidebar[4].heading }} </h2>
        <a href="{{ site.baseurl }}gallery.html#lg=sddc1&slide=7"> <img class="image-responsive pull-right" src="{{ site.baseurl }}thumb/members_tb.jpg" />
        </a>
        <br />
        {% for category in site.data.members %}
        <h4>{{ category.category }}</h4>
        <ul>
            {% for member in category.list %}
            <li><a href={{ member.link }}> {{ member.name}} </a> </li>

            {% endfor %} 
        </ul>
        <br />
        {% endfor %}



    </div>
</div>