--- 
layout: default 
sideBar_highlight: "BSADD Blog"
---

<div class="col-sm-9 panel content-panel text-justify">
    <div id="all-post-container">
        <h2></h2>
        <p>We believe that we have a lot to learn from our alumni. We have a strong network and they are all working great in different places. We have also freshers coming out from buet every year (yeah, it's regular now). A simple thought came as a flash, that if we could've connected all those wise minds with the young-energetic minds, some good must happen. And that resulted this page. </p>
        <p>We asked our alumni to write something for our juniors. It's hard for people to make time within their busy schedules. But we <a href="https://www.facebook.com/groups/341677349195065/permalink/1531865696842885/">tried</a>, and <a href="https://www.facebook.com/groups/341677349195065/permalink/1556539564375498/">tried harder</a>. And we can say with a great joy, that they did write something. Actually they wrote a lot. On this page, we will be publishing those writings sequentially.
        </p>
        <p>Disclaimer: It's been very interesting when we started to ask for writing from people. The most common reply we get is basically "vai, ami ki parobo likte" / "amai to ovabe likhte parina" / "I am not that much good" and worst of them "I don't have any experience". Well, the interesting part is, we don't want a best writing. Everyone has their own style of writing. Someone can really write good, and someone struggles with grammers :p But at the end we would like to hear something. Anything that our alumni want to share with us. That's what matters. So, please don't think about your writing skill, don't be shy of what you want to share, leave all those high expectation of writing a oscar winning novel / bestselling book. Just write it down.
        </p>


        <div id="post-index-container">

        {% for post in site.blogs %}
        <div id="sample-index-container" class="alert alert-info">
            <a class="post-name" href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}"> 
                {{ post.title }} </a> - 
             <span class="post-author">{{ post.author }}</span>
        </div>
        {% endfor %}

        </div>

        <p>More posts are coming...</p>
            <ul class="pager"><li><a class="show-fb-comment" href="">Comments</a></li></ul>

        <hr/>
        

    </div>

 
    <div class="fb-comments" data-href="." data-numposts="5" data-width="100%"></div>
</div>

<!-- 
<script>
    $(function(){
    if( post ){
        loadSinglePost(post);
    }else{
        loadAllPosts();
    }
    $('.fb-comments').attr('data-href' , window.location.href );
    $('.fb-like').attr('data-href' , window.location.href );

    //$('.show-fb-comment').click(function(){
        loadFacebookCommentBox();
        //return false;
    //});
});

function loadAllPosts(){
    $('#all-post-container').removeClass('hidden').addClass('show');

    for(var i=0;i<allPosts.length;i++){
        var post = allPosts[i];
        console.log( post.inactive );
        if( post.inactive ) continue;
        $blogComponent = $('#sample-index-container').clone();
        $blogComponent.removeAttr('id');
        $blogComponent.removeClass('hidden').addClass('show');
        $blogComponent.find('.post-name').attr('href' , getPostUrl(post.id) );
        $blogComponent.find('.post-name').text( post.title );
        $blogComponent.find('.post-author').text( getPostAuthorBatch( post ) );
        $('#post-index-container').append($blogComponent);
    }
}

function getPostUrl(postId){
    return '?postid='+postId;
}

function getPostAuthorBatch( post ){
    return post.author + " '" + post.authorBatch;
}

function getPostContentUrl(postId){
    postId = ('000'+postId).slice(-3);
    return 'posts/'+postId + '.data';
}

function loadSinglePost(post){
    $singlePostElement = $('#single-post-container');
    $singlePostElement.removeClass('hidden').addClass('show');

    $singlePostElement.find('.post-title').text( post.title ) ;

    var postUrl = getPostContentUrl(post.id);
    $singlePostElement.find('.post-content').load( postUrl );

    $('.post-author').text( getPostAuthorBatch( post ) );
    $('.post-author').attr( 'href' , post.authorUrl );
    $('.post-author-position').text( post.authorPosition );
}

function loadFacebookCommentBox(){
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '660627137442920',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "http://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
}

</script> -->