<div class="container">
  <div id="banner" class="row">
    <div class="col-xs-12">
      <span>
        <img width="100" style="margin: 5px; display: inline;" src="img/buet_logo_300.png" />
        <h1 style="color: #DDDDDD; display:inline;"> Department of CSE, BUET </h1>
      </span>
      <span> <h2 style="color: #DDDDDD;"> {{ site.title }}</h2> </span>
    </div>
  </div>

  <div class="row navbar navbar-default">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li role="presentation"> <a href=".">Home</a> </li>
        <li role="presentation"> <a href="gallery.html">Gallery</a> </li>
        <li role="presentation"> <a href="links.html">B'Links</a> </li>
        <li role="presentation"> <a href="blog">BSADD Blog</a> </li>
        <li role="presentation"> <a href="connect">BSADD Connect</a> </li>
        <li role="presentation"> <a href="about">About</a> </li>
      </ul>
    </div>
  </div>
</div>