--- 
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  {% include header.html %}
  <link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">
<div>
    <div class="container unselectable">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info text-center">
                    <a href="alumni">Alumni whom you can poke for information</a></li>
                </div>
            </div>
        </div>

    </div>
</div>

{% include js_link.html %}
<script src="/js/base64js.min.js"></script>
<script src="/js/text-encoder-lite.js"></script>
</body>
