<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  {% assign category = page.url | split: '/' %}
  {% assign overview_url = '/' | append:  category[1] | append: '/' | append:  category[2] | append: '/' | append:  'overview/' %}
  {% assign category = category[-2] %}

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div id="sidebar">
          <ul id="nav-items" class="nav nav-stacked">

            <li>
              <h3 class="highlight">
                <a href="">BSADD Blog</a>
                <i class="glyphicon glyphicon-dashboard pull-right"></i>
              </h3>
            </li>
            <li>
              <a href="{{ site.baseurl }}{{ overview_url  }}">Overview </a>
            </li>
            {% for file in site.activities %}
            {% if file.path contains category %}

            <li>
              <a href="{{ site.baseurl }}{{ file.url  }}">{{ file.linkName }}</a>
            </li>
            {% endif %}

            {% endfor %}

          </ul>
        </div>
      </div>

      <div class="col-sm-9 panel content-panel text-justify">
        <!-- <div id="single-post-container"> -->
        <p class="h2 post-title"></p>
        <h1>{{ page.title }}</h1>
        <hr />
        <div class="post-content"></div>

        {% if  page.youtubeLink %}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="{{ page.youtubeLink }}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div style="height: 15px;"></div>
        {% else %}
        {{ page.desc }}
        {% endif %}
        <div class="row">
          
          <hr>

          <div>
            {% if page.guests %}
            <em><strong>Guest :<br></strong></em>
            {% for guest in page.guests %}
              <a href="{{ guest.link }}"><em><strong>&emsp;&emsp;{{ guest.name }}<br></strong></em></a>
              &emsp;&emsp;&emsp;<em>{{ guest.position }}</em><br><br>
            {% endfor %}
          {% endif %}
          </div>
    
          <div>
          {% if page.hosts %}
            <em><strong>Host :<br></strong></em>
            {% for host in page.hosts %}
              <a href="{{ host.link }}"><em><strong>&emsp;&emsp;{{ host.name }}<br></strong></em></a>
            {% endfor %}
          {% endif %}
          </div>
          
          <div>
          {% if page.writers %}
          <br>
            <em><strong>Writer :<br></strong></em>
            {% for writer in page.writers %}
              <a href="{{ writer.link }}"><em><strong>&emsp;&emsp;{{ writer.name }}<br></strong></em></a>
            {% endfor %}
          {% endif %}
          </div>
          
          <hr>

        </div>   
        <div class="row">
          {{ content }}
        </div>
        <hr />
        <ul class="pager pull-right">
          <li><a class="show-fb-comment" href="">Comments</a></li>
          <li><a href="{{ site.baseurl }}.">Go to all blogs</a></li>
        </ul>
        <!-- </div> -->
        <div class="fb-comments" data-href="{{ site.baseurl }}." data-numposts="5" data-width="100%"></div>
      </div>
    </div>
  </div>
  {% include js_link.html %}
</body>
<!-- script references -->

</html>